@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: white; /* Tailwind's gray-400 */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.form-btn-hover {
  @apply transition-all duration-300 ease-in-out;
}

.nav-btn-hover {
  @apply transition-all duration-300 ease-in-out;
}

@keyframes overflowAnimation {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

.animated-overflow {
  animation: overflowAnimation 0.5s ease-in-out 0s forwards;
}
