@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: white; /* Tailwind's gray-400 */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
